.movie-planlist-detail .article-detail {
  margin: 0 16px;
}
.movie-planlist-detail article h3 {
  width: 100%;
  border-bottom: 4px solid #538bc1;
  font-size: 20px;
  line-height: 1.5em;
  padding: 16px 0 12px;
  margin: 0 0 16px;
  letter-spacing: 0.1em;
}
.movie-planlist-detail .vi-img {
  position: relative;
  margin: 0 0 8px;
  width: 100%;
  height: 234px;
  /*background: #ccc;*/
  background-image: url("../images/m1.jpg");
  background-position: center;
  background-size: auto 100%;
}
.movie-planlist-detail .vi-detail-msg {
  position: absolute;
  top: 0;
  right: 0;
  width: 268px; /* 284-8*2 */
  height: 202px; /* 234-16*2 */
  background: #000;
  background: rgba(0,0,0,.75);;
  color: #fff;
  overflow: scroll;
  font-size: 16px;
  padding: 16px 8px;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .05em;
}
.movie-planlist-detail .thm-img {
  width: 365px;
  margin: 0 20px 0 0;
  float: left;
}
.movie-planlist-detail .detail-list {
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.movie-planlist-detail .col2-wrp {
  margin: 0 0 16px 0;
}
.article-detail ul {
  margin: 8px 0 8px 16px;
}
.article-detail ul li {
  list-style-type: disc;

}
.article-detail .detail-txt{
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin: 0 0 32px;
}
.article-detail .date,
.article-detail .genre {
  text-align: right;
  margin: 0 0 8px;
}