@charset "UTF-8";
/*変更加えました*/
#contentszone
{
	float:left;
	width:950px;
	background-color:#f2f2f2;
}

#schedule{
	height:115px;
	width:950px;
	margin-top:-16px;
	padding-top:10px;
	background-color:#999999;
	display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
}

.blue{
	color:#5994CC;
}
.red{
	color:#FF6078;
}

.week{
	font-family:'ヒラギノ角ゴ ProN','sans-serif';
	color:white;
	background-color:#3d3d3d;
	height:100px;
	width:125px;
	text-align:center;
	font-size:24px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius:10px;    /* Safari,Google Chrome用 */
    -moz-border-radius:10px;   /* Firefox用 */
}

#schedule p{
	line-height:50px;
	margin:10px 10px;
	border-bottom:4px dotted #fff;
}


#today{
	width:950px;
	height:50px;
	margin-top:30px;
	font-size:30px;
	background-color:#538bc1;
}

#today p{
	color:#fff;
	line-height:50px;
	padding-left:10px;
	font-weight:lighter;
}

.title{
	width:950px;
	height:50px;
	margin-top:30px;
	font-size:20px;
	background-color:#538bc1;
}

.title p{
	color:#fff;
	line-height:50px;
	padding-left:10px;
	font-weight:lighter;
}

.time{
	width:950px;
	height:75px;
}

.time ul{
	width:950px;
	height:75px;
	background-color :#fff;
}

#screen{
	line-height:70px;
}

.time ul li{
	float:left;
	width:116px;
	height:75px;
	border:1px solid #bfbfbf;
	text-align:center;
	line-height: 20px;

}

.time ul li p{
	margin-top:10px;
}

#st{
	font-size:20px;
	font-weight:bold;
}
#et{
	font-size:14px;
}

#not{
	background:#f7f7f7;
}

.screen{
	line-height:70px;
}

.gogo{
	cursor:pointer;
}

.week{
	cursor:pointer;
}
