/*marginÉäÉZÉbÉg*/
*{margin:0;}

body
{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN','ÉqÉâÉMÉmäpÉS ProN W3','Meiryo','ÉÅÉCÉäÉI','sans-serif';
	background-color:#f2f2f2;
}

li
{
	margin-left:0px;
	list-style-type: none;
}

.clearfix
{
	*zoom:1;
}

.clearfix:after
{
	content:"";
	display:block;
	clear:both;
}

#wrapper
{
	margin:auto;
	margin-top:12px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:178px;
	width:940px;
	/*height:1000px;*/
}

#wrapper h2
{
	color:#fff;
	background-color:#4777a5;
	font-size:20px;
	line-height:52px;
	margin-bottom:16px;
	margin-left:-10px;
	height:52px;
}

/*----ç∂ë§ÇÃéOäpå`----*/
h2:before
{
	position:relative;
		top:13px;
		left:-10px;
	content: "";

	/*Ç±ÇÍÇ™éOäpå`*/
	border: 10px solid transparent;
	border-right-color:#3d678f;

	/*éOäpå`Ç™ÇÕÇ›èoÇ≥Ç»Ç¢ÇÊÇ§Ç…*/
	z-index:-1;
}

#header
{
	border-top:solid 8px #4777a5;
	background-color:#fff;
	height:176px;
}

#toplinkbar
{
	margin:auto;
	width:940px;
	height:128px;
}

.logo
{
	margin-top:24px;
}

.member_botton
{
	position:absolute;
		top:55px;
		left:1005px;
}

#toplinkbar_inner
{
	position:absolute;
		top:12px;
		left:885px;
}

#header ul
{  
	list-style-type:none;
}

#toplinkbar_inner li
{
	font-size:12px;
	color:#777;
	display:inline;
}

#toplinkbar_menu1
{
	margin-right:10px;
}

#toplinkbar_menu2
{
	margin-right:10px;
}

#global
{
	background-color:#4777a5;
	height:48px;
}

#global_inner
{
	margin:auto;
	padding-top:16px;
	background-color:#4777a5;
	padding-left:10px;
	padding-right:10px;
	width:940px;
	height:32px;
}

#global_menu1
{
	margin-right:44px;
}

#global_menu2
{
	margin-right:64px;
}

#global_menu3
{
	margin-right:80px;
}

#global_menu4
{
	margin-right:75px;
}

#global_menu5
{
	margin-right:75px;
}

#global ul
{  
	list-style-type:none;
}

#global_inner li
{
	color:#fff;
	font-weight:900;
	display:inline;
}

a
{
	text-decoration:none;
}

#contentszone
{
	float:left;
	width:700px;
	background-color:#fff;
}

#bannerzone
{
	float:left;
	width:220px;
}

#footer
{
	background-color:#4777a5;
	height:300px;
}

#fotter_inner
{
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	width:940px;
	height:300px;
}

.fotter_block
{
	float:left;
	margin-top:20px;
	margin-right:20px;
	width:300px;
	/*background-color:#000;*/
}

#last_block
{
	margin-right:0px;
}

.fotter_block li
{
	margin-top:20px;
}