.input_tagname,.input_tag
{
	float:left;
	margin-top:20px;
}

.input_tagname
{
	clear:left;
	width:100px;
}

#editmenu li
{
	margin-left:0px;
	list-style-type: none;
}

#editmenu
{
	margin-top:160px;
	margin-left:310px;
}

#input_editform
{
	margin-top:40px;
	margin-left:200px;
}

#input_title
{
	width:250px;
}

.input_year
{
	width:30px;
}

.input_month,.input_day
{
	width:20px;
}

.input_year,.input_month,.input_day
{
	margin-left:5px;
	text-align:right;
}

#input_time
{
	width:25px;
	text-align:right;
}

#input_button
{
	margin-top:20px;
	margin-left:100px;
	float:left;
	clear:left;
}

.moviedata_edit_box
{
	width:720px;
	height:216px;
	margin-left:16px;
	margin-right:16px;
}

.moviedata_edit_box:hover
{
	cursor:pointer;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}

.moviedata_edit_content
{
	width:668px;
	height:216px;
	border-bottom:solid 1px #ccc;
}

.moviedata_edit_details
{
	float:left;
	width:428px;
	height:168px;
	margin-top:42px;
}

.moviedata_edit_thumbnail
{
	float:left;
	background-color:#777;
	width:220px;
	height:136px;
	margin-top:32px;
	margin-bottom:32px;
	margin-right:20px;
}

.moviedata_edit_title
{
	font-size:18px;
	padding-bottom:10px;
	border-bottom:solid 4px #4777a5;
}

.moviedata_edit_text
{
	margin-top:10px;
	font-size:14px;
}

#moviedata_edit_button
{
	margin-top:48px;
	margin-left:548px;
	margin-bottom:48px;
}
